#dtmContactSection {
    background-color: aquamarine;
    background: url("../assets/img/ffff.jpg") no-repeat center/cover;
    background-size: 100% 100%;
}



button#btnShowContact {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 170px;
    border-radius: 50px;
    border-width: 0;
    background-color: rgb(192, 132, 233);
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
    position: relative;
    overflow: hidden;
    margin-left: -55px;
    margin-top: 15px;
}




@media (max-width: 1200px) {
    #dtmContactSection {
        background: url("../assets/img/ffff1.jpg") no-repeat center/cover;
        background-size: 100% 100%;
    }    

    button#btnShowContact {
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 170px;
        border-radius: 50px;
        border-width: 0;
        background-color: rgb(192, 132, 233);
        color: white;
        font-size: 16px;
        letter-spacing: 3px;
        position: relative;
        overflow: hidden;
        margin-left: -14%;
        margin-top: 15px;
    }

}



button#btnShowContact:hover {
    box-shadow: black 3px 3px 15px;
}

button#btnShowContact:active {
    box-shadow: black 3px 3px 15px inset;
}

span {
    position: relative;
    z-index: 99;
}

.line,
.line-2 {
    position: absolute;
    width: calc(100% - 20px);
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    border-radius: 100%;
    background-color: hsla(240, 100%, 50%, 0.39);
    bottom: 5px;
    animation: line .5s infinite linear;
    box-shadow: 0 0 10px 2px rgb(0, 60, 255);
    z-index: 9;
}

@keyframes line {
    0% {
        height: 1px;
        background-color: hsla(240, 100%, 50%, 0.285);
    }

    50% {
        transform: scaleY(5);
        background-color: hsla(0, 59%, 41%, 0.032);
        box-shadow: 0 0 100px 20px rgb(0, 60, 255);
    }

    100% {
        height: 2px;
        background-color: rgb(255, 255, 255)
    }
}

.line-2 {
    animation: line-2 .5s infinite linear;
    bottom: 1px;
    box-shadow: 0 0 10px 2px rgb(0, 60, 255);
}

@keyframes line-2 {
    0% {
        height: 1px;
        background-color: hsl(327, 100%, 50%);
    }

    50% {
        height: 2px;
        background-color: hsl(0, 0%, 85%)
    }

    100% {
        height: 2px;
        background-color: rgb(255, 255, 255)
    }
}

.speak {
    position: absolute;
    width: 330px;
    height: 10px;
    background-color: pink;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    animation: speak .8s infinite linear;
}

.speak.one {
    left: calc(50% + 20px);
    animation: speak 6s infinite linear;
    background-color: hsl(284deg 79% 55%);
}

.speak.two {
    left: calc(50% + 10px);
    animation: speak .6s infinite linear;
    background-color: hsl(284deg 79% 55%);
}

.speak.two {
    left: calc(50% + -10px);
    animation: speak .6s infinite linear;
    background-color: rgb(0, 255, 149);
}

@keyframes speak {
    0% {
        transform: translateX(-50%) scale(.10);
    }
}


h1.logo {
    color: #fff;
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 1em;
}

h1.end {
    position: relative;
    color: rgb(50, 49, 49);
    opacity: 0;
    transition: 0.8s ease-in-out;
}

#container {
    
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

#form-box {
    background: #fff;
    position: relative;
    width: 600px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.1), 0 6px 10px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in-out;
}

#form-box.close {
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: 0.8s ease-in-out;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0);
}

#next-btn {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 40px;
    color: #428bca;
    float: right;
    cursor: pointer;
    z-index: 2;
}

#next-btn:hover {
    color: #b9d4ec;
}

#prev-btn {
    position: absolute;
    font-size: 18px;
    left: 30px;
    top: 12px;
    z-index: 2;
    color: #9e9e9e;
    float: right;
    cursor: pointer;
}

#prev-btn:hover {
    color: #b9d4ec;
}

#input-group {
    position: relative;
    padding: 30px 20px 20px 20px;
    margin: 10px 60px 10px 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

#input-group input {
    position: relative;
    width: 100%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    background: transparent;
    box-shadow: none;
}

#input-group #input-label {
    position: absolute;
    pointer-events: none;
    top: 32px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
}

#input-group input:valid+#input-label {
    top: 6px;
    left: 42px;
    margin-left: 0 !important;
    font-size: 11px;
    font-weight: normal;
    color: #9e9e9e;
}

#input-progress {
    border-bottom: 3px solid #428bca;
    width: 0;
    transition: width 0.6s ease-in-out;
}

#progress-bar {
    position: absolute;
    background: #b9d4ec;
    height: 10px;
    width: 0;
    transition: width 0.5s ease-in-out;
}

.close #next-btn,
.close #prev-btn {
    color: #fff;
}

.error #input-progress {
    border-color: #ff2d26;
}

.error #next-btn {
    color: #ff2d26;
}

@media (max-width: 600px) {
    #form-box {
        width: 80%;
    }
}


.row-only{ 
    /* background-color: aqua !important ; */
    overflow: hidden;
    max-height: 25px;
    max-width: 600px;
}

.row-only > *{
    font-size: 50px !important;
}

.footer{
    position: fixed !important;
    width: 100% !important;
    bottom: 0px !important;
}