/* TimelineComponent.css */

.TimeLineComponent{
  background-color: rgb(20,25,31) !important; 
}
.timeline {
  position: relative;
  padding: 1rem;
}

.timeline-item {
  padding: 1rem 0;
  position: relative;
}

.timeline-item-content {
  padding: 1rem;
}